{% extends "base.html" %}

{% block content %}
	<div>
		<form action= "{{url_for('newItem')}}" method = 'POST'>
			<h2>Name:</h2>
			<input type = 'text' name = 'name' required minlength = "4">
			<h2>Description:</h2>
			<textarea rows = "4" cols = "50" name = 'description' required minlength = "10">
			</textarea>
			<h2>Category:</h2>
			<select name = 'category'>
				<option disabled selected value> -- select an option -- </option>
				{% for category in categories %}
				<option value="{{category.name}}">{{category.name}}</option>
				{% endfor %}
			</select>
			<p><input type='submit' value='Add New Item'></p>
		</form>
		<a href="{{url_for('showAllItems')}}">Cancel</a>
	</div>
{% endblock %}
